* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: url(assests/landing-bg.png);
  background-repeat: no-repeat;
  height: 1000rem;
}

a {
  color: unset;
  text-decoration: none;
}