@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Basier Circle Regular'), url('fonts/BasierCircle-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Basier Square Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Basier Square Regular'), url('fonts/BasierSquare-Regular.woff') format('woff');
  }

:root {
  --font-family: "Basier Circle Regular", sans-serif;
}