@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basier Circle";
  src: local("Basier Circle Circle Regular"),
    local("Basier-Circle-Circle-Regular"),
    url("fonts/BasierCircle-Regular.woff2") format("woff2"),
    url("fonts/BasierCircle-Regular.woff") format("woff"),
    url("fonts/BasierCircle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle";
  src: local("Basier Circle Circle Bold"), local("Basier-Circle-Circle-Bold"),
    url("fonts/BasierCircle-Bold.woff2") format("woff2"),
    url("fonts/BasierCircle-Bold.woff") format("woff"),
    url("fonts/BasierCircle-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: "Basier Circle", sans-serif;
}
